
.album {
    perspective: 1000;
    margin: 15px;
    width: 450px;
    height: 450px;
    cursor: pointer;

    &.hover .album__flipper {
        transform: rotateY(180deg);
    }

    &__flipper {
        transition: 0.6s;
        transform-style: preserve-3d; 
        position: relative;
        pointer-events: none;    
    }

    &__front, &__back {
        width: 450px;
        height: 450px;
        backface-visibility: hidden;
        box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.1);
        position: absolute;
        top: 0;
        left: 0;
    }

    &__front {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: white;
        pointer-events: none;
    }
    
    &__back {
        transform: rotateY(180deg);
        background: $main;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    &__covers-wrapper {
        width: 400px;
        height: 400px;
        position: relative;
        pointer-events: none;
    }

    &__playlist-wrapper {
        
    }
    
    &__button {
        border: 2px solid white;
        padding: 10px 30px;
        color: white;
        margin: 0 auto;
        width: 200px;
        text-align: center;
        text-decoration: none;
        pointer-events: visible;
        transition: all 100ms ease-in-out;

        &:hover {
            color: $main;
            background-color: white;
        }
    }

}

.playlist {
      color: white;
      margin: 0 0 30px 0;
      padding: 0;
      list-style-type: decimal-leading-zero;
      pointer-events: none;

    &__tune {
          padding: 0;
          margin: 3px 0 3px 25px;
          font-size: 14px;

        span {
              font-weight: 700;
              text-transform: uppercase;
        }
    }
}

.cover {
    width: 130px;
    height: 130px;
    position: absolute;
    transition: all 1000ms ease-in-out;
    pointer-events: none;
    filter:  drop-shadow(0px 0px 3px rgba(0,0,0,0.7));
}

.cover1 {
    left: 0;
    top: 0;
}

.cover2 {
    left: 90px;
    top: 0;
}

.cover3 {
    left: 180px;
    top: 0;
}

.cover4 {
    left: 270px;
    top: 0;
}

.cover5 {
    left: 0;
    top: 90px;
}

.cover6 {
    left: 70px;
    top: 70px;
    width: 260px;
    height: 260px;
    z-index: 100;
}

.cover7 {
    left: 270px;
    top: 90px;
    z-index: 101;
}

.cover8 {
    left: 0;
    top: 180px;
    z-index: 101;
}

.cover9 {
    left: 270px;
    top: 200px;
    z-index: 1;
}

.cover10 {
    left: 0;
    top: 270px;
}

.cover11 {
    left: 90px;
    top: 270px;
    z-index: 101;
}

.cover12 {
    left: 180px;
    top: 270px;
}

.cover13 {
    left: 270px;
    top: 270px;
    z-index: 101;
}
