.album-page {
    height: 3000px;

    &__personal-section {
        border: 1px solid red;
    }

    &__person-img {
        width: 50%;
    }

    &__play-section {
        position: relative;
        background-color: $main;
        display: flex;
        //border: 1px solid red;
        //box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.1);

    }

    &__player-wrapper {
        //border: 1px solid blue;

        //width: 500px;
    }

    &__album {
        width: 500px;
        height: 500px;
        background-color: white;
       // margin: 0 auto;
       //border: 1px solid red;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .greenbox {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        left: 100%;
        //border: 1px solid blue;
        background-color: $main;
        //box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.1);

    }

    &__covers-wrapper {
        width: 500px;
        height: 500px;
        position: relative;
        pointer-events: none;
        //border: 1px solid red;
    }

    &__cover {

        width: 125px;
        height: 125px;
        position: absolute;
        transition: all 1000ms ease-in-out;
        pointer-events: none;
        //filter:  drop-shadow(0px 0px 3px rgba(0,0,0,0.7));

    }

    iframe {
        display: block;
        box-shadow: 0px 0px 5px 4px rgba(0,0,0,1);
    }

    &__cover1 {
        left: 0;
        top: 0;
    }
    
    &__cover2 {
        left: 125px;
        top: 0;
    }
    
    &__cover3 {
        left: 250px;
        top: 0;
    }
    
    &__cover4 {
        left: 375px;
        top: 0;
    }
    
    &__cover5 {
        left: 0;
        top: 125px;
    }
    
    &__cover6 {
        left: 125px;
        top: 125px;
        width: 250px;
        height: 250px;
    }
    
    &__cover7 {
        left: 375px;
        top: 125px;
    }
    
    &__cover8 {
        left: 0;
        top: 250px;
        z-index: 0;
    }
    
    &__cover9 {
        left: 375px;
        top: 250px;
    }
    
    &__cover10 {
        left: 0;
        top: 375px;
    }
    
    &__cover11 {
        left: 125px;
        top: 375px;
    }
    
    &__cover12 {
        left: 250px;
        top: 375px;
    }
    
    &__cover13 {
        left: 375px;
        top: 375px;
    }

    &__playlist-wrapper {
        display: flex;
        align-items: center;
        padding: 50px;
    }
}