
.album {
    perspective: 1000;
    //margin: 0 auto;
    width: 85vw;
    height: 85vw;
    //border: 1px solid #f4f4f4;
    cursor: pointer;
    position: relative;
    //border-color: blue;
   // z-index: 10;

    &__wrapper {
       // border: 1px solid blue;
       position: absolute;
        width: 85vw;
        left: 50%;
        transform: translate(-50%,-50%);
        //left: 50%;
        //transform: translateX(-50%);
       //margin: 0 auto;
        box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.3);
        background-color: white;

        iframe {
            display: block;
            //position: relative;
            //top: -5px;
           // z-index: 1;
        }
    }

    &.hover .album__flipper {
        transform: rotateY(180deg);
    }

    &__flipper {
        transition: 0.6s;
        transform-style: preserve-3d; 
        position: relative;
        pointer-events: none;    
    }

    &__front, &__back {
        width:  75vw;
        height: 75vw;
        backface-visibility: hidden;
        //box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.1);
        position: absolute;
        top: 0;
        left: 0;
        margin: 5vw;
    }

    &__front {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: white;
        pointer-events: none;
    }
    
    &__back {
        transform: rotateY(180deg);
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        //width: 90%;
        //box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.1);
        
    }

    &__covers-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        pointer-events: none;
    }

    &__playlist-wrapper {
        
    }
    
    &__button {
        border: 2px solid white;
        padding: 10px 30px;
        color: white;
        margin: 0 auto;
        width: 200px;
        text-align: center;
        text-decoration: none;
        pointer-events: visible;
        transition: all 100ms ease-in-out;

        &:hover {
            color: $main;
            background-color: white;
        }
    }

}

.playlist {
      color: white;
      //margin: 0 0 30px 0;
      padding: 0;
      list-style-type: decimal-leading-zero;
      pointer-events: none;

    &__tune {
          padding: 0;
          //margin: 3px 0 3px 25px;
          font-size: 9px;

        span {
              font-weight: 700;
              text-transform: uppercase;
        }
    }
}

.cover {
    width: 30%;
    height: 30%;
    position: absolute;
    transition: all 1000ms ease-in-out;
    pointer-events: none;
    filter:  drop-shadow(0px 0px 3px rgba(0,0,0,0.7));
}

.cover1 {
    left: 0;
    top: 0;
}

.cover2 {
    left: 25%;
    top: 0;
}

.cover3 {
    left: 50%;
    top: 0;
}

.cover4 {
    left: 75%;
    top: 0;
}

.cover5 {
    left: 0;
    top: 25%;
}

.cover6 {
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
}

.cover7 {
    left: 75%;
    top: 25%;
}

.cover8 {
    left: 0;
    top: 50%;
}

.cover9 {
    left: 75%;
    top: 50%;
}

.cover10 {
    left: 0;
    top: 75%;
}

.cover11 {
    left: 25%;
    top: 75%;
}

.cover12 {
    left: 50%;
    top: 75%;
}

.cover13 {
    left: 75%;
    top: 75%;
}
