.arrow {
    //font-weight: 700;
    font-size: 12px;
    border: 1px solid #000000;
    padding: 5px 10px;
    color: black;



    &__wrapper {
        width: 100%;
        //border: 1px solid red;
        display: flex;
        justify-content: space-between;
    //padding: 15px 5vw 15px 5vw;
       position: absolute;
        z-index: 3;
       // background-color: #f4f4f4;

       &.fixed {
           position: fixed;
           top: 0;
           background-color: #f4f4f4;
           border-bottom: 1px solid grey;
       }
    }
}

.header {
   // border: 1px solid green;
    padding: 70px 0 100px 0;
    //margin: 100px 0;

    
    &__text {
        text-align: center;
        p {
            font-size: 10px;
            font-style: italic;
        }

    }
}

.logo {
    &__wrapper {
        //display: flex;
        //justify-content: center;
        text-align: center;
        position: absolute;
        z-index: 100;
        //border: 1px solid blue;
        width: 100%;
        top: 5vh;
        //background-color: #f4f4f4;

        h1 {
            margin: 0;
            font-size: 20px;
        }

        &.fixed {
            top: 0;
            position: fixed;
        }
    }


}