body {
	background-color: #f4f4f4;
	font-family: 'Roboto';
}

.home-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.layout {
	overflow: hidden;
	
	//border: 1px solid red;
}

.wrap {
	width: 960px;
	margin: 0 auto;
}
