// font stacks
$sans-serif:   "Roboto", Arial, Helvetica, sans-serif;
$serif:         "Georgia", Cambria, Times New Roman, Times, serif;



// font weights
$light:          300;
$regular:        400;
$medium:         500;
$bold:           700;
$heavy:          900;

////////////////////
// SIZES - MOBILE //
////////////////////

$singularity-mobile  : pxToRem(30); // hero title zmienione
$huge-mobile         : pxToRem(30); // h1 zmienione
$large-mobile        : pxToRem(30); //zmienione
$bigger-mobile       : pxToRem(18); // h4
$big-mobile          : pxToRem(20); // h2 zmienione
$medium-mobile       : pxToRem(16); // h3 zmienione
$normal-mobile       : pxToRem(15); // default p zmienione
$small-mobile        : pxToRem(12); // video info
$little-mobile       : pxToRem(12);
$tiny-mobile        : pxToRem(12); // video info zmienione

////////////////////
// SIZES - TABLET //
////////////////////

$singularity-tablet  : pxToRem(32);
$huge-tablet         : pxToRem(34);
$large-tablet        : pxToRem(30);
$bigger-tablet       : pxToRem(18);
$big-tablet          : pxToRem(22);
$medium-tablet       : pxToRem(20);
$normal-tablet       : pxToRem(16);
$small-tablet        : pxToRem(13);
$little-tablet       : pxToRem(13);
$tiny-tablet         : pxToRem(12);

//////////////////////
// SIZES - DESKTOP  //
//////////////////////

$singularity-desktop : pxToRem(42);
$huge-desktop        : pxToRem(32);
$large-desktop       : pxToRem(28);
$bigger-desktop      : pxToRem(22);
$big-desktop         : pxToRem(20);
$medium-desktop      : pxToRem(17);
$normal-desktop      : pxToRem(15);
$small-desktop       : pxToRem(14);
$little-desktop      : pxToRem(13);
$tiny-desktop        : pxToRem(12);

///////////////////
// SIZES - WIDE  //
///////////////////

$singularity-wide    : pxToRem(52); // h1
$huge-wide           : pxToRem(36); // h2
$large-wide          : pxToRem(32);
$bigger-wide         : pxToRem(24); // h3
$big-wide            : pxToRem(22); // h4
$medium-wide         : pxToRem(18); // h5
$normal-wide         : pxToRem(16); // p
$small-wide          : pxToRem(15);
$little-wide         : pxToRem(14);
$tiny-wide           : pxToRem(12);

.f-size-singularity {
  font-size: $singularity-mobile;
  @media screen and (min-width:$breakpoint-tablet){
    font-size : $singularity-tablet;
  }
  @media screen and (min-width:$breakpoint-desktop){
    font-size : $singularity-desktop;
  }
  @media screen and (min-width:$breakpoint-wide){
    font-size : $singularity-wide;
  }
}

.f-size-huge {
  font-size: $huge-mobile;
  @media screen and (min-width:$breakpoint-tablet){
    font-size : $huge-tablet;
  }
  @media screen and (min-width:$breakpoint-desktop){
    font-size : $huge-desktop;
  }
  @media screen and (min-width:$breakpoint-wide){
    font-size : $huge-wide;
  }
}

.f-size-large {
  font-size: $large-mobile;
  @media screen and (min-width:$breakpoint-tablet){
    font-size : $large-tablet;
  }
  @media screen and (min-width:$breakpoint-desktop){
    font-size : $large-desktop;
  }
  @media screen and (min-width:$breakpoint-wide){
    font-size : $large-wide;
  }
}

.f-size-bigger {
  font-size: $bigger-mobile;
  @media screen and (min-width:$breakpoint-tablet){
    font-size : $bigger-tablet;
  }
  @media screen and (min-width:$breakpoint-desktop){
    font-size : $bigger-desktop;
  }
  @media screen and (min-width:$breakpoint-wide){
    font-size : $bigger-wide;
  }
}

.f-size-big {
  font-size: $big-mobile;
  @media screen and (min-width:$breakpoint-tablet){
    font-size : $big-tablet;
  }
  @media screen and (min-width:$breakpoint-desktop){
    font-size : $big-desktop;
  }
  @media screen and (min-width:$breakpoint-wide){
    font-size : $big-wide;
  }
}

.f-size-medium {
  font-size: $medium-mobile;
  @media screen and (min-width:$breakpoint-tablet){
    font-size : $medium-tablet;
  }
  @media screen and (min-width:$breakpoint-desktop){
    font-size : $medium-desktop;
  }
  @media screen and (min-width:$breakpoint-wide){
    font-size : $medium-wide;
  }
}

.f-size-normal {
  font-size: $normal-mobile;
  @media screen and (min-width:$breakpoint-tablet){
    font-size : $normal-tablet;
  }
  @media screen and (min-width:$breakpoint-desktop){
    font-size : $normal-desktop;
  }
  @media screen and (min-width:$breakpoint-wide){
    font-size : $normal-wide;
  }
}

.f-size-small {
  font-size: $small-mobile;
  @media screen and (min-width:$breakpoint-tablet){
    font-size : $small-tablet;
  }
  @media screen and (min-width:$breakpoint-desktop){
    font-size : $small-desktop;
  }
  @media screen and (min-width:$breakpoint-wide){
    font-size : $small-wide;
  }
}

.f-size-little {
  font-size: $little-mobile;
  @media screen and (min-width:$breakpoint-tablet){
    font-size : $little-tablet;
  }
  @media screen and (min-width:$breakpoint-desktop){
    font-size : $little-desktop;
  }
  @media screen and (min-width:$breakpoint-wide){
    font-size : $little-wide;
  }
}

.f-size-tiny {
  font-size: $tiny-mobile;
  @media screen and (min-width:$breakpoint-tablet){
    font-size : $tiny-tablet;
  }
  @media screen and (min-width:$breakpoint-desktop){
    font-size : $tiny-desktop;
  }
  @media screen and (min-width:$breakpoint-wide){
    font-size : $tiny-wide;
  }
}



/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  font-weight: 400;

  /* removing text decoration from all headline links */
  a {
    text-decoration: none;
  }
}


h1, .h1 {
  @extend .f-size-singularity;
  font-weight: $bold;
}

h2, .h2 {
  @extend .f-size-huge;
}

h3, .h3 {
  @extend .f-size-bigger;
}

h4, .h4 {
  @extend .f-size-big;
}

h5, .h5 {
  @extend .f-size-medium;
}

/************
COPY
So the paragraphs are WAAAY more readible
only applies to paragraphs within WRAP
*************/

p,.p{

  @extend .f-size-normal;

  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: none;
     -moz-hyphens: none;
          hyphens: none;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;

}
