$white:				#fff;
$black:				#000;
$main:              #1db954;

$text-color:        $black;

$breakpoint-mobile: 	480px;
$breakpoint-tablet:		767px;
$breakpoint-desktop:	1029px;
$breakpoint-wide:		1399px;
